<!doctype html>
<html lang="ja">
<%= partial 'modules/head' %>
<body>
  <div class="wrap">
    <%= partial 'modules/navbar' %>
    <%= yield %>
    <%= partial 'modules/footer' %>
  </div>
  <%= partial 'modules/lang' %>
  <%= partial 'modules/hamburger' %>
</body>
</html>