---
title:
 en: ℹ About yude.moe
 ja: ℹ yude.moe について
---
<p class="is-size-2"><i class="fas fa-info"></i> <%= t(:about) %></p>

<p class="is-size-3"><i class="fas fa-heart"></i> <%= t(:special_thanks) %></p>
<div style="margin-left: 1.5em">
					<li class="is-size-4"><i class="fas fa-images"></i> <%= t(:assets) %></li>
					<div style="margin-left: 1.5em">
						<li><%= t(:background) %>: すぅみ<%= t(:san) %>
							(<a href="https://twitter.com/hikaru_riv"><i class="fab fa-twitter"></i>
								@hikaru_riv</a>)</li>
						<li><img src="../images/mel-full.jpg" width=18px height=18px> <%= t(:icon) %>: Minkasy<%= t(:san) %> (<a
								href="https://twitter.com/xmnts"><i class="fab fa-twitter"></i>
								@xmnts</a>)</li>
						<li><img src="../images/favicon.ico" width=18px height=18px> <%= t(:favicon) %>: 梨瑠りる<%= t(:san) %> (<a
								href="https://twitter.com/r_i_r_u_"><i class="fab fa-twitter"></i>
								@R_I_R_U_</a>)</li>
							</div>
					<li class="is-size-4"><i class="fas fa-server"></i> <%= t(:tech) %></li>
					<div style="margin-left: 1.5em">
						<li><a href="https://cloudflare.com"><i class="fas fa-cloud"></i> Cloudflare&ensp;-&ensp;The&ensp;Web&ensp;Performance&ensp;&&ensp;Security Company</a></li>
						<li><a href="https://zeit.co"><i class="fas fa-caret-up"></i> ZEIT&ensp;-&ensp;World-Class&ensp;Static&ensp;Hosting</a></li>
						<li><a href="https://cdnjs.com"><i class="fas fa-copyright"></i> cdnjs.com - The&ensp;best&ensp;FOSS&ensp;CDN for web related libraries to&ensp;speed up your websites!</a></li>
						<li><a href="https://vincentgarreau.com/particles.js/"><i class="fas fa-square"></i>&ensp;particles.js - A lightweight JavaScript library for creating particles</a></li>
						<li><a href="https://fonts.google.com/"><i class="fas fa-font"></i> Google Fonts&ensp;-&ensp;Making&ensp;the web more beautiful, fast, and open through great typography.</a></li>
						<li><a href="https://nextcloud.com"><i class="fas fa-cloud-upload-alt"></i>&ensp;Nextcloud&ensp;-&ensp;The&ensp;most deployed on-premises file share and collaboration platform.</a>
						<li><a href="https://hexo.io"><i class="fas fa-rss"></i> Hexo - Fast, simple &&ensp;powerful&ensp;blog&ensp;framework powered by Node.js.</a></li>
						<li><a href="https://github.com/netdata/netdata">NetData&ensp;-&ensp;Get&ensp;control&ensp;of&ensp;your&ensp;Linux&ensp;Servers.&ensp;Simple.&ensp;Effective.&ensp;Awesome.</a></li>
						<li><a href="https://github.com/hackmdio/codimd"><i class="fab fa-markdown"></i>&ensp;CodiMD&ensp;-&ensp;Collaborative markdown notes</a></li>
						<li><a href="https://gogs.io/"><i class="fab fa-git"></i> Gogs:&ensp;A&ensp;painless&ensp;self-hosted&ensp;Git&ensp;service</a></li>
						<li><a href="https://github.com/Shizmob/upaste"><i class="fas fa-clipboard"></i>&ensp;Shizmob/upaste: Plain file based Python pastebin.</a></li>
						<li><a href="https://ubuntu.com/"><i class="fab fa-ubuntu"></i>&ensp;Ubuntu - The leading operating system for PCs, IoT devices, servers and thecloud</a></li>
						<li><a href="http://nginx.org/">NGINX | High Performance Load Balancer, Web Server &amp; Reverse Proxy</a></li>
						<li><a href="https://github.com/ldidry/lstu"><i class="fas fa-cut"></i>&ensp;ldidry/lstu: Lightweight URL shortener</a></li>
						<li><a href="https://daneden.github.io/animate.css/"><i class="fas fa-tint"></i>&ensp;Animate.css&ensp;-&ensp;Just-add-water CSS animations
							</a></li>
                        <li>Middleman: 作業を効率化するフロントエンド開発ツール</a></li>
						<li><a href="https://bulma.io/">Bulma: Free, open source, and modern CSS framework based on Flexbox</a></li>
						<li><a href="https://flagicons.lipis.dev/">flag-icons - A collection of all country flags in SVG — plus the CSS for easier integration.</a></li>
					</div>
					</div>
                    <p class="is-size-3"><i class="fas fa-otter"></i> <%= t(:misc) %></p>
					<div style="margin-left: 1.5em">
					<li><a href="https://whois.nic.moe/">.moe Registry Whois</a></li>
					<li><a href="https://github.com/yudemoe/yudemoe">yudemoe/yudemoe: source code of
							yude.moe</a></li>
					<li><a href="mailto:admin@yude.moe"><%= t(:contact) %>:&ensp;admin@yude.moe</a></li>
				</div>