---
title:
 en: ■ Minecraft Multiplay
 ja: ■ Minecraft マルチプレイ
---
<h1 class="title has-text-white"><%= t(:minecraft_title) %></h1>
<h2 class="subtitle has-text-white"><%= t(:minecraft_desc) %></h2>
<p class="is-size-5"><i class="fas fa-exclamation-triangle"></i>&ensp;<%= t(:minecraft_proxy) %></p>
<p class="is-size-5"><%= t(:download_below) %></p>
<p class="is-size-5"><%= t(:source_desc) %></p>
<a href="https://gitlab.com/yude/chiselmirror/-/raw/master/yudemoe_socks.ps1?inline=false"><button class="button is-light"><i class="fas fa-download"></i>&ensp;<%= t(:download) %></button></a>
<a href="https://gitlab.com/yude/chiselmirror/-/blob/master/yudemoe_socks.ps1"><button class="button is-light"><i class="fas fa-code"></i>&ensp;<%= t(:view_source) %></button></a>
<hr>
<p class="is-size-3"><i class="fas fa-plug"></i>&ensp;<%= t(:how2connect) %></p>
<ol style="margin-left: 1.5em">
<li><%= t(:minecraft_guide_1) %></li>
<img src="../images/minecraft/guide/1.png" style="height:200px">
<p><%= t(:minecraft_guide_1_desc) %></p>
<li><%= t(:minecraft_guide_2) %></li>
<img src="../images/minecraft/guide/2.png" style="height:300px">
<img src="../images/minecraft/guide/3.png" style="height:300px">
<p><%= t(:minecraft_guide_2_desc) %></p>
<p><%= t(:firewall) %></p>
<img src="../images/minecraft/guide/4.png" style="height:300px">
</ol>
